

body {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.inputForm {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  position: relative;
  // z-index: 2;
}

.iconSearch{
  cursor: pointer;
  color: white;
  font-size: 16px;
  
}

.container {
  background-image: url(../../public/images/jungle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 45%;
  height: auto;
  border-radius: 10px;
  // margin-top: 50px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.31);
}

.btn{
  background: transparent;
  font-size: 30px;
  border: none;
  transition: 0.3s ease;
  color:#ffffff;
  cursor: pointer;
  
    
}

.prevBtn{
    &:hover{
      transform: translateX(-5px); 
    }
}

.nextBtn{
  &:hover{
    transform: translateX(5px);                                                
  }
}

.showId{
  color:white;
  font-weight: bolder;
}
span{
  font-size: 18px;
  font-weight: bolder;
  color: white;
}

.teste {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // margin-top: -100px;
}
.boxImage {
  top: -80px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  // z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s ease;
  }

  .showName {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}

#namePokemon {
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 20px;
  width: 200px;
  outline: none;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid #c4d1eb;
  transition: 0.3s ease;
  

  &:focus {
    background-color: rgba($color: #000000, $alpha: 0.1);
    border: 2px solid #ffffff;
    border-radius: 10px;
  }

  ::placeholder {
    color: #ffffff;
  }
}

.stats{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: white;
  font-weight: bolder;
}

.titleStats{
  font-size: 36px;
  color: white;
  font-weight: bolder;
}

.graphics{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.name{
  
  width: 200px;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
}

.bar{
  
  width: 100%;
}

.base{
  
  width: auto;
  font-size: 18px;
}
